.results {
    list-style: none;
    width: $orgListWidth;
}

.orgs {
    position: relative;
    background-color: $orgListBackgroundColor;
    margin-bottom: $orgSeparationMargin;
    border: $orgBorder;
    border-radius: $orgBorderRadius;
    padding: $orgPadding;
}

.avatar {
    width: $avatarIconWidth;
    height:$avatarIconHeight;
    vertical-align: bottom;
    border-radius: $avatarIconBorderRadius;
}

.orgName {
    display: inline;
    margin-left: $nameMarginLeft;
    vertical-align: middle;
    font-family: $primaryFont;
    font-size: $nameFontSize;
    color: $nameFontColor;
    text-shadow: $nameTextShadow;
}
