$primaryFont: 'Roboto Condensed', Arial;

$orgListWidth: 75%;
$orgListBackgroundColor: #F0F0F0;
$orgSeparationMargin: 10px;
$orgBorder: 1px solid #b1adad;
$orgBorderRadius: 8px;
$orgPadding: 10px;

$avatarIconWidth: 40px;
$avatarIconHeight: 40px;
$avatarIconBorderRadius: 6px;

$nameMarginLeft: 10px;
$nameFontSize: 34px;
$nameFontColor: #b1adad;
$nameTextShadow:  #ffffff 1px 1px;
